/build
/build-android
/build-switch
/build-vita
/build-wiiu
/build-libretro
/.gradle
/src/android/.cxx
/eboot.bin
/noods
/noods*.so
/noods*.dll
/noods*.dylib
/noods.aab
/NooDS.app
/NooDS.dmg
/noods.elf
/noods.nacp
/noods.nro
/noods.rpx
/noods.velf
/noods.vpk
/noods.wuhb
/noods.ini
/param.sfo
bios7.bin
bios9.bin
firmware.bin
gba_bios.bin
sd.img
