[Desktop Entry]
Type=Application
Name=NooDS
Comment=A (hopefully!) speedy NDS emulator
GenericName=Nintendo DS Emulator
Icon=com.hydra.noods
Exec=noods %U
StartupNotify=true
Terminal=false
MimeType=application/x-nintendo-ds-rom;application/x-gba-rom
Categories=Game;Emulator
Keywords=emulator;nintendo;ds;nds
