<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hydra.noods">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:label="NooDS"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".FileBrowser"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".SettingsMenu"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        </activity>

        <activity android:name=".NooActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

    </application>

</manifest>
